*{
    margin: 0;
    padding: 0;
}

html {
    cursor: url('../images/sickel.png'), auto;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: #fff;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}


.top{
    position: relative;
    /* margin: -750px 0 10px 0; */
    box-sizing: border-box;
    padding-bottom: 60vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFD27A;
    text-shadow: 0 3px 14px rgba(0, 0, 0, 1);
    z-index: 1;
}

.head{
    margin: 0 0 7px 0;
    text-align: center;
    font-size: 4rem;
    line-height: 3.7rem;
}

.quote1{
    color: #2d110f;
    text-shadow: 0 3px 14px rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
}







.bg-img-for {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

/* ANIMATION */
.wlc-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.wlc-hidden {
    display: none !important;
}

.wlc-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.wlc-btn {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: wheat;
    color: #1B1B1B;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.wlc-text {
    color: wheat;
    text-align: center;
}



/* animation!! */
.ani {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(30px);
    animation: reveal 1s ease forwards;
}

@keyframes reveal {
    0% {
        opacity: 0;
        filter: blur(15px);
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.text1 {
    animation-delay: 0.1s;
}
.text2 {
    animation-delay: 1.2s;
}
.text3 {
    animation-delay: 2.4s;
}
.text4 {
    animation-delay: 4.1s;
}


.wlc-btn {
    animation-delay: 5.1s;
}


/* 

#2c1410


*/