body {
    margin: 0;
    padding: 0;
    background: #1B1B1B;    
}

.test-div {

}

.text {
    color: wheat;
    text-align: center;
}


/* animation!! */
.ani {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(30px);
    animation: reveal 1s ease forwards;
}

@keyframes reveal {
    0% {
        opacity: 0;
        filter: blur(15px);
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.test1 {
    animation-delay: 0.1s;
}
.test2 {
    animation-delay: 0.8s;
}
.test3 {
    animation-delay: 1.7s;
}
.test4 {
    animation-delay: 2.8s;
}
.test5 {
    animation-delay: 4.5s;
}
